<!--    <% } %>

            <% for(let i=0; i < wordsSelected.length; i++) {%> 
            <div class="vocabImage" id="A<%= 1 + i %>" style="background-image: url('<%= wordsSelected[i].imageUrl %>')">
                <audio src="<%= wordsSelected[i].audioTis %>" id="audioTis<%= 1 + i %>" controls class='audioControls' style='width: 100%'></audio>  
            </div>  
            <% } %>-->
 