<head>   
    <!-- external CSS link -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css" />
	
	
</head><h1>ADMIN PAGE</h1>
<body>
    

<form action="/newCohort" method="POST">
    <div>
        <h2>Create New Class</h2>
        <label for="cohort">New Class Name</label>
        <input type="text" id="cohort" name="cohortName"
        required>
         <label for="language">Language</label>
        <input type="text" id="language" name="language"
        required>
        <label for="startDate">Start Date</label>
        <input type="text" id="startDate" name="startDate"
        required>
    </div>    
    <button type="submit">Create</button>
 </form>
 <h2>Add/Remove class admin privleges</h2>
<form action="/adminSelectCohort" method="POST" id="problem">
    <div class="dropDown">
        <label for="cohort">Select Class</label>    
            <select name="cohort" id="cohortName" required>
                <option value="">Select Class</option>
                <% for(let i=0; i < cohorts.length; i++) {%>   
                <option value="<%= cohorts[i].cohortName %>"><%= cohorts[i].cohortName %></option>
            <% } %>
            </select>
    </div>    
    <button type="button" id="cohortSelection">Select</button>
</form>
<form action="/adminUpdateCohortAdmin" method="PUT">
    <div class="dropDown">
        <label for="student">Student</label>
            <select name="student" id="StudentName">
            <option value="">Select Student</option>
            </select>
    </div>
    <button type="button" id="giveToStudent">Give Class Admin Privileges</button>
    <button type="button" id="removeFromStudent">Remove Class Admin Priviegs</button>
</form>

<a href="/">Login</a>
<script type="text/javascript" src="/js/admin.js"></script>
</body>