<h1>ADMIN PAGE</h1>
<form action="/admin" method="POST">
    <div>
        <h2>Create New Class</h2>
        <label for="cohort">New Class Name</label>
        <input type="text" id="cohort" name="cohortName"
        required>
         <label for="language">Language</label>
        <input type="text" id="language" name="language"
        required>
        <label for="startDate">Start Dagte</label>
        <input type="text" id="startDate" name="startDate"
        required>
    <button type="submit">Create</button>
</form>
<form action="/adminCohort" method="POST"> <!--not sure if the action will work right-->
    <div>
        <h2>Give Cohort Admin Privileges</h2>
        <label for="cohort">New Class Name</label>
        <input type="text" id="cohort" name="cohort"
        required>
         <label for="student">Student</label>
        <input type="text" id="student" name="student"
        required>
    <button type="submit">Create</button>
</form>
<a href="login.html">Login</a>