<head>   
    <!-- external CSS link -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css" />
	
	
</head>
<body>
    
<h1 id="cohort"> <%=user.cohort %></h1>
<h2>Class Admin Page</h2>
<form action="/admin/activity" method="POST">  
    <div class="container">
        <h2>Create New Activity</h2>
        <label for="activity" class="secondaryLabel">Activity Description</label>
        <input type="text" id="activity" name="description"
        required>
        <label for="activityDate" class="secondaryLabel">Activity Date</label>
        <input type="text" id="activityDate" name="date"
        required>
        <button type="submit" class="button">Create</button>   
    </div>
 </form>  

<form action="/admin/createVocab" method="POST">
    <div class="container">
        <label for="activity" class="primaryLabel">Select activity to edit</label>
        <select name="activity" id="activityName" required>
        <% for(let i=0; i < activities.length; i++) {%>   
            <option value="<%=activities[i].description %>"><%= activities[i].description %></option>
        <% } %>
        </select>
        <button type="button" id="selectActivity">Select</button>
    </div>    
    <div class="container">
        <h2>Add vocabulary word to Activity</h2>
        <label for="vocabWord" class="secondaryLabel">Enter new vocab word description:</label>
        <input type="text" id="newVocabWord" name="description" required>
   
    <label for="category">Category</label>
    <select name="category" id="category" required>
        <option value="Animal">Animal</option>
        <option value="Plant">Plant</option>
        <option value="Thing">Thing</option>
        <option value="Place">Place</option>
        <option value="Emotion/Feeling">Emotion/Feeling</option>
        <option value="Verb">Verb</option>
        <option value="Pronoun">Pronoun</option>
        <option value="Adjective/Adverb">Adjective/Adverb</option>
        <option value="Mix">Mix</option>
        <option value="Other">Other</option>
    </select>
     <button type="submit">Create</button>
    </div>
</form> 
<div class="maincontainer"> 
    <div class="container" id="uploadContainer">
        <label for="existingVocabWords" class="secondaryLabel">Select vocab word to edit</label>
        <select name="existingVocabWords" id="existingVocabWords">
            <option value="">Vocab Words</option>
        </select>
        <form action="/admin/uploadImage" enctype="multipart/form-data" method="POST"> 
            <div class="uploadBlock"> 
                <label for="vocabWordUF" class="hidden"></label>
                <input type="text" class="vocabWordUF hidden"  name="vocabWord">
                <label for="image">Vocab Word Image</label>
                <input type="file" class="uploadInput" id="image" name="image"> 
                <button type="submit" id="imageUpload">Upload</button>
            </div>
        </form>
        <form action="/admin/uploadAudios" enctype="multipart/form-data" method="POST"> 
            <div class="uploadBlock">
                <label for="vocabWordUF" class="hidden"></label>
                <input type="text" class="vocabWordUF hidden" name="vocabWord">
                <label for="audioT">Vocab Word Introduction Audio</label>
                <input type="file" class="uploadInput" value="audioT" name="audioT">
            </div>
            <div class="uploadBlock">
                <label for="audioQ">Question Audio</label>
                <input type="file" class="uploadInput" value="audioQ" name="audioQ">
            </div>
            <div class="uploadBlock">
                <label for="audioN">The Correction Audio</label>
                <input type="file" class="uploadInput" value="audioN" name="audioN">
                <button type="submit">Upload</button>
            </div>
        </form>       
    </div>
    <div>
        <h2>Vocab Word Preview</h2>
        <div class="previewContainer">
            <div class="imagecontainer">
                <img src="" alt="">
            </div>
            <div class="audioPreviewContainer">
                <div>
                    <h3>Play Introduction Audio</h3>
                    <audio src="" controls></audio>
                </div>
                <div>
                    <h3>Play Question Audio</h3>
                    <audio src="" controls></audio>
                </div>
                <div>
                    <h3>Play Correction Audio</h3>
                    <audio src="" controls></audio>
                </div>
            </div>
        </div>    
    </div>
</div>
<a href="/student">Student Page</a>
<a href="logout">Logout</a>

<script type="text/javascript" src="/js/cohortAdmin.js"></script>
</body>