<head>   
    <!-- external CSS link -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css" />	
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
	
</head>
<body class="backgroundColor">
    
<h1 id="cohort"> <%=user.cohort.cohortName %></h1>
<h2>Class Admin Page</h2>
<form method="POST" id="newActivityForm" action="/admin/activity" enctype="multipart/form-data">  
    <div class="container">
        <h2>Create New Activity</h2>
        <label for="activity" class="primaryLabel">Activity Description</label>
        <input type="text" id="activity" name="description" placeholder="Enter a brief description"
        required>
        <label for="activityDate" class="primaryLabel">Activity Date</label>
        <input type="text" id="activityDate" name="date" placeholder="month/date/year"
        required>
        <label for="activityType" class="primaryLabel">Acitvity Type</label>
        <select name="activityType" id="type" class="selection">
            <option value="DD">Rough and Ready</option>
            <option value="BS">Basic Sentence</option>
            <option value="CS">Complex Sentence</option>
            <option value="WaL">Watch and Listen</option>
        </select>
        <button type="button" class="submit" id="submitActivity">Create</button>   
        
    </div>
</form>  

<div class="navButtons">
    <button onclick="window.location.href ='admin/activityDD';" class="navButton">RR Admin</button>
    <button onclick="window.location.href ='admin/activityWaL';" class="navButton">WaL Admin</button>
    <button onclick="window.location.href = 'admin/activityP';" class="navButton">Phrases Admin</button>
    <button onclick="window.location.href ='student';" class="navButton">Student Page</button>
  <% if (user.adminLevel > 1){ %>
         <button onclick="window.location.href ='admin/schoolAdmin';" class="navButton">School Admin</button>
    <% } %>
    <button onclick="window.location.href ='/logout';" class="navButton">Logout</button>
</div>
<script type="text/javascript" src="/js/cohortAdmin.js"></script>
</body>