<head>   
    <!-- external CSS link -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css" />	
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
	
</head>
<body class="backgroundColor">
    
<h1 id="cohort"> <%=user.cohort.cohortName %></h1>
<h2>Class Admin Page</h2>
<form method="POST" id="newActivityForm" action="/admin/activity" enctype="multipart/form-data">  
    <div class="container">
        <h2>Create New Activity</h2>
        <div class="flex spaceOnTop">
            <div class="loginContainer">
                <div class="elementGrid">                
                    <label for="activity" class="primaryLabel">Description</label>
                    <input type="text" id="activity" name="description" placeholder="Enter a brief description" required>
                </div>
                <div class="elementGrid paddingTop">
                    <label for="activityType" class="primaryLabel">Activity Type</label>
                    <select name="activityType" id="type" class="selection">
                        <option value="DD">Rough and Ready</option>
                    <!--<option value="BS">Basic Sentence</option> --> 
                    <!--<option value="CS">Complex Sentence</option> --> 
                        <option value="WaL">Watch and Listen</option>
                    </select> 
                </div>
            </div>
            <div class="loginContainer">
                <div class="elementGrid">
                    <label for="activityDate" class="primaryLabel">Activity Date</label>
                    <input type="date" id="activityDate" name="date" placeholder="month/date/year"
                    required>
                </div>
                <div class="elementGrid paddingTop">
                    <label for="activityNumber" class="primaryLabel">Activity number</label>
                    <input type="number" id="activityNumber" name="number" placeholder="Meeting#.Activity#">
                </div>
            </div>   
        </div>
        <div class="moveRight spacing">
            <button type="button" class="submit" id="submitActivity">Create</button>   
        </div>
        
    </div>
</form>  
<div class="flexSplit">
    <div class="flex">
        <button onclick="window.location.href ='admin/activityDD';">RR Admin</button>
        <button onclick="window.location.href ='admin/activityWaL';">WaL Admin</button>
      <!--  <button onclick="window.location.href = 'admin/activityP';">Phrases Admin</button>   -->
    </div>
    <div class="navButtons">
        <button onclick="window.location.href ='student';" class="navButton">Student Page</button>
      <% if (user.adminLevel > 1){ %>
             <button onclick="window.location.href ='admin/schoolAdmin';" class="navButton">School Admin</button>
        <% } %>
        <button onclick="window.location.href ='/logout';" class="navButton">Logout</button>
    </div>
</div>
<script type="text/javascript" src="/js/cohortAdmin.js"></script>
</body>