<head>   
    <!-- external CSS link -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css" />
	
	
</head>
<body>
    
<h1 id="cohort"> <%=user.cohort %></h1>
<h2>Class Admin Page</h2>
<form action="/admin/activity" method="POST">  
    <div class="container">
        <h2>Create New Activity</h2>
        <label for="activity" class="primaryLabel">Activity Description</label>
        <input type="text" id="activity" name="description" placeholder="Enter a brief description"
        required>
        <label for="activityDate" class="primaryLabel">Activity Date</label>
        <input type="text" id="activityDate" name="date" placeholder="month/date/year"
        required>
        <button type="submit" class="button">Create</button>   
    </div>
 </form>  

<form action="/admin/createVocab" method="POST">
    <div class="container">
        <label for="activity" class="primaryLabel">Select activity to edit</label>
        <select name="activity" id="activityName" class="selection" required>
        <% for(let i=0; i < activities.length; i++) {%>   
            <option value="<%=activities[i].description %>"><%= activities[i].description %></option>
        <% } %>
        </select>
        <button type="button" id="selectActivity">Select</button> 
        </div>    
    <div class="container">
        <h2>Add vocabulary word to Activity</h2>
        <label for="vocabWord" class="primaryLabel">Enter new vocab word description:</label>
        <input type="text" id="newVocabWord" name="description" placeholder="Enter a word or short phrase">
   
    <label for="category" class="primaryLabel">Category</label>
    <select name="category" id="category" class="selection" required>
        <option value="animal">Animal</option>
        <option value="plant">Plant</option>
        <option value="bodyPart">Body Part</option>
        <option value="thing">Thing</option>
        <option value="place">Place</option>
        <option value="emotion/Feeling">Emotion/Feeling</option>
        <option value="verb">Verb</option>
        <option value="pronoun">Pronoun</option>
        <option value="adjective/Adverb">Adjective/Adverb</option>
        <option value="lexicarry">Lexicarry</option>
        <option value="Other">Other</option>
    </select>
     <button type="submit">Create</button>
    </div>
</form> 
  <div class="mainSelector">
            <label for="existingVocabWords" class="primaryLabel">Select vocab word to edit</label>
            <select name="existingVocabWords" id="existingVocabWords" class="selection" > 
                <option value="">Vocab Words</option>
            </select>
        </div>   
<div class="maincontainer"> 
    <div class="container" id="uploadContainer">
        <div class="gridContainer">
            <form action="/admin/uploadImage" enctype="multipart/form-data" method="POST"> 
                <div class="uploadBlock"> 
                    <label for="vocabWordUF" class="hidden"></label>
                    <input type="text" class="vocabWordUF hidden"  name="vocabWord">
                    <label for="image">Vocab Word Image</label>
                    <input type="file" class="uploadInput" id="image" name="image"> 
                    <button type="submit" id="imageUpload">Upload</button>
                </div>
            </form>
           
        </div>
        <form action="/admin/uploadAudios" enctype="multipart/form-data" method="POST"> 
            <div class="gridContainer">
                <div class="uploadBlock">
                    <label for="vocabWordUF" class="hidden"></label>
                    <input type="text" class="vocabWordUF hidden" name="vocabWord">
                    <label for="audioT">Vocab Word Introduction Audio</label>
                    <input type="file" class="uploadInput" value="audioT" name="audioT">
                </div>
            </div>
            <div class="gridContainer">
                <div class="uploadBlock">
                    <label for="audioQ">Question Audio</label>
                    <input type="file" class="uploadInput" value="audioQ" name="audioQ">
                </div>
            </div>
            <div class="gridContainer">    
                <div class="uploadBlock">
                    <label for="audioN">The Correction Audio</label>
                    <input type="file" class="uploadInput" value="audioN" name="audioN">
                    <button type="submit">Upload</button>
                </div>
            </div>    
        </form>       
    </div>
    <div class="container">
        <h2>Vocab Word Preview</h2>
        <div>
            <div class="center">
                <div class="imagecontainer">
                    <img src="" alt="">
                </div>
                <div>
                    <button type="button" id="deleteImage" class="deleteButton">Delete Photo</button>
                </div>
            </div>
                <div class="audioPreviewContainer">
                <div class="flex">
                    <div>
                        <h3>Play Introduction Audio</h3>
                        <audio src="" controls id="audioTis"></audio>
                    </div>
                    <div>
                        <button type="button" id="deleteAudioTis" class="deleteButton">Delete Intro Audio</button>
                    </div>
                </div>   
                <div class="flex">
                    <div>
                        <h3>Play Question Audio</h3>
                        <audio src="" controls id="audioQ"></audio>
                    </div>
                    <div>
                        <button type="button" id="deleteAudioQ" class="deleteButton">Delete Question Audio</button>
                    </div>
                </div>
                <div class="flex">
                    <div>
                        <h3>Play Correction Audio</h3>
                        <audio src="" controls id="audioN"></audio>
                    </div>
                        <div>
                        <button type="button" id="deleteAudioN" class="deleteButton">Delete Correction Audio</button>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
<div class="navButtons">
    <button onclick="window.location.href ='/student';" class="navButton">Student Page</button>
    <button onclick="window.location.href ='/logout';" class="navButton">Logout</button>
</div>
<script type="text/javascript" src="/js/cohortAdmin.js"></script>
</body>