<h1>Welcome to Phase 1 Advantage</h1>

<form action="/" method="POST">
    <div>
        <label for="name">User Name</label>
        <input type="text" id="name" name="userName" required>
        <label for="password">password</label>
        <input type="text" id="password" name="password" required>
        <label for="cohort">Class Name</label>
        <select name="cohort" id="cohorName" required>
            <option value="Joel's Class">Joel's Class</option>
        </select>
    </div>
    <button type="submit">Login</button>
</form>
<a href="register">Register</a>
<a href="adminLogin">Login as Admin</a>