<head>   
    <!-- external CSS link -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css" />	
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
	
</head>
<body>

<h1>Welcome to Phase 1 Advantage</h1>

<form action="/" method="POST">
    <div>
        <label for="username" class="primaryLabel">User Name</label>
        <input type="text" id="username" name="username" required>
        <label for="password" class="primaryLabel">Password</label>
        <input type="text" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
</form>
<h2>If you haven't registered enter your email and provided password below.</h2>
<form action="/preRegister" method="POST">
    <div>
        <label for="email" class="primaryLabel">Enter your email address here</label>
        <input type="email" name="email" required>
        <label for="password" class="primaryLabel">Enter provided temporary password</label>
        <input type="text" id="password" name="password" required>
    </div>
    <button type="submit">Begin Registration</button>
</form>
</body>