<head>   
    <!-- external CSS link -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
</head>
<body class="coolBackground">

<h1 class="loginTitle">Welcome to Phase 1 Advantage</h1>
<div class="mainLoginContainer">
    <div>
        <form action="/" method="POST" id="loginForm">
            <div class="loginContainer" id="aboveTheWaterLine">
                <div class="elementGrid" id="div1">
                    <label for="username" class="primaryLabel">User Name</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="gridForCheckbox" id="div2">
                    <div class="elementGrid">
                        <label for="password" class="primaryLabel">Password</label>
                        <input type="password" class="passwordInput" id="password" name="password" required>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" class="checkbox" id="passwordCheckBox" name="passCheckBox">   
                        <label for="passCheckBox" class="checkboxLabel secondaryLabel" id="passCheckBLabel">Show Password</label>         
                    </div>
                    <div class="checkboxDiv">
                        <button type="button" id="loginButton">Login</button>
                    </div> 
                </div>
            </div>
        </form>
    
        <div class="checkboxDiv">
            <h3 class="pageBreak">To register enter your email and provided password below.</h3>
        </div>
        <form action="/preRegister" id="registerForm" method="POST">
            <div class="loginContainer" id="belowTheWaterLine">
                <div class="elementGrid">
                    <label for="email" class="primaryLabel">Email Address</label>
                    <input type="email" name="email" required>
                </div>
                <div class="gridForCheckbox">
                    <div class="elementGrid">
                        <label for="password" class="primaryLabel">Temporary Password</label>
                        <input type="password" id="password2" name="password" required>
                    </div>
                    <div class="checkboxDiv">
                        <input type="checkbox" class="checkbox" id="passwordCheckBox2" name="pass2CheckBox"> 
                        <label for="pass2CheckBox" class="checkboxLabel secondaryLabel" id="passCheckBLabel2">Show Password</label>          
                    </div>
                    <div class="checkboxDiv">
                        <button type="submit">Begin Registration</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
            <h3></h3>
            <div class="demoSelect">
                <div class="flexContainer">
                <form action="/demo" method="POST" >
                    <label for="demoSelect" class="primaryLabel">Choose a demo. </label>    
                        <select name="demo" id="demoSelect" required>
                        <option value="">Options</option>
                        <% for (let i = 0; i < demos.length; i++) { %>
                            <option value="<%=demos[i]%>"><%=demos[i]%></option>
                        <% } %>
                        </select>
                    <button type="submit" id="demoButton">Select</button>
                </form>
                </div>
            </div>
</div>
<script type="text/javascript" src="/js/login.js"></script>
</body>