
<head>   
    <!-- external CSS link -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/styleRegister.css">
	
	
</head>
<body>
    
<h1>To register, please fill out the information bellow.</h1>

<form action="/register" method="POST">
    <div class="registrationForm">
        <div class="registrationSubgrid">
            <label for="username" class="primaryLabel">User Name</label>
            <input type="text" id="username" name="username"
            required>
        </div>
        <div class="registrationSubgrid">
            <label for="cohort" class="primaryLabel">Select Class</label>    
            <select name="cohort" id="cohortName" required>
                <option value="">Select Class</option>
                <% for(var i=0; i < cohorts.length; i++) {%>   
                <option value="<%= cohorts[i].cohortName %>"><%= cohorts[i].cohortName %></option>
            <% } %>
            </select>
        </div>
        <div class="registrationSubgrid">
            <label for="password" class="primaryLabel">Password</label>
            <input type="text" id="password" name="password" required>
        </div>
        <div class="registrationSubgrid">   
            <label for="confirmPassword" class="primaryLabel">Confirm Password</label>
            <input type="text" id="confirmPassword" name="confirmPassword" required>
        </div>       
        <div class="registrationSubgrid">
            <label for="firstName" class="primaryLabel">First Name</label>
            <input type="text" id="firstName" name="firstName" required>
        </div> 
        <div class="registrationSubgrid">
            <label for="lastName" class="primaryLabel">Last Name</label>
            <input type="text" id="lastName" name="lastName" required>
        </div>
       <div class="registrationSubgrid">    
            <label for="email" class="primaryLabel">Email</label>
            <input type="email" id="email" name="email" required>
        </div> 
        <div class="registrationSubgrid">
            <label for="nativeLanguage" class="primaryLabel">Native Languages</label>
            <input type="text" id="nativeLanguage" name="nativeLanguage" required>
        </div>
    </div>
    <div class="submitContainer">
        <button id="submitReg" type="submit">Register</button>
    </div>
</form>

<div class="navButtons" id="registrationNav">
    <h4>Or return to Login Page</h4>
    <button onclick="window.location.href ='/';" class="navButton">Login</button>
</div>

<script type="text/javascript" src="/js/register.js"></script>


</body>