<head>   
    <!-- external CSS link -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css" />	
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
	
</head>
<body class="coolBackground">
<h1>School ADMIN PAGE</h1>   

<form action="/admin/preReg" method="POST">
    <div>
        <h2>Create PreRegistration Login Credentials</h2>
        <label for="emial" class="primaryLabel">Email Address</label>
        <input type="text" id="email" name="email" required>
        <label for="password" class="primaryLabel">Create Password</label>
        <input type="text" id="password" name="password" required>
    </div>
    <button type="submit">Create</button>
</form>

<form action="/admin/newCohort" method="POST">
    <div>
        <h2>Create New Class</h2>
        <label for="cohort" class="primaryLabel">New Class Name</label>
        <input type="text" id="cohort" name="cohortName"
        required>
         <label for="language" class="primaryLabel">Language</label>
        <input type="text" id="language" name="language"
        required>
        <label for="startDate" class="primaryLabel">Start Date</label>
        <input type="text" id="startDate" name="startDate"
        required>
    </div>    
    <button type="submit">Create</button>
 </form>
 <h2>Add/Remove class admin privleges</h2>
    <div class="dropDown">
        <label for="cohort" class="primaryLabel">Select Class</label>    
            <select name="cohort" id="cohortName" required>
                <option value="">Select Class</option>
                <% for(let i=0; i < cohorts.length; i++) {%>   
                <option value="<%= cohorts[i].cohortName %>"><%= cohorts[i].cohortName %></option>
            <% } %>
            </select>
    </div>    
    <button type="button" id="cohortSelection">Select</button>

<form action="admin/updateCohortAdmin" method="PUT">
    <div class="dropDown">
        <label for="student" class="primaryLabel">Student</label>
            <select name="student" id="StudentName">
            <option value="">Select Student</option>
            </select>
    </div>
    <button type="button" id="giveToStudent">Give Class Admin Privileges</button>
    <button type="button" id="removeFromStudent">Remove Class Admin Priviegs</button>
</form>

<!-- Need a way to enter cohort End date, and make it so you can only edit corohorts you created -->

<div class="navButtons">
    <button onclick="window.location.href ='/admin';" class="navButton">Class Admin</button>
    <button onclick="window.location.href ='/student';" class="navButton">Student Page</button>
    <button onclick="window.location.href ='/logout';" class="navButton">Logout</button>
 </div>   
<script type="text/javascript" src="/js/schoolAdmin.js"></script>
</body>

