<h1>CLASS NAME</h1>
<h2>User Name</h2>
<div>
    <h3>Vocabulary size</h3>
    <h3>Words reviewed</h3>
</div>
<div>
    <ul>New Exercises to Review</ul>
    <li><a href=""></a>
    </li>
</div>
<div>
    <label for="previous-excercises"></label>
    <select name="previous-excercises" id="excersises">
        <option value="Excercise 1"></option>
    </select>
</div>
<div>
    <a href="activities">Class Admin</a> <%/* Should only be visible if the student has class admin privleges*/ %>
</div>
<div>
    <a href="/">Log Out</a>  
</div>