<h1><%=user.cohort %></h1>
<h2><%=user.username %></h2>
<div>
    <h3>Vocabulary size</h3>
    <h3><%=user.hasReviewed.length %></h3>
</div>
<div>
    <ul>New Exercises to Review</ul>
    <li><a href=""></a>
    </li>
</div>
<div>
    <label for="previous-excercises"></label>
    <select name="previous-excercises" id="excersises">
        <option value="Excercise 1"></option>
    </select>
</div>
<div>
    <a href="activities">Class Admin</a> <%/* Should only be visible if the student has class admin privleges*/ %>
</div>