<h1><%=user.cohort %></h1>
<h2><%=user.username %></h2>
<div>
    <h3>Vocabulary size</h3>
    <h3><%=user.hasReviewed.length %></h3>
</div>
<div>
    <ul>New Exercises to Review</ul>
    <li><a href=""></a>
    </li>
</div>
<div>
    <label for="previous-excercises"></label>
    <select name="previous-excercises" id="excersises">
        <option value="Excercise 1"></option>
    </select>
</div>
<div>
    <% if (user.adminLevel = 1){ %>
       <a href="admin">Class Admin</a> 
   <% }
    if (user.adminLevel = 2){ %>
        <a href="admin/schoolAdmin">School Admin</a>
    <% } %>
    <a href="logout">Logout</a>   

</div>