<head>   
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styleWal.css">
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
	
</head>
<Header>
    <H1 id="title"><%= activity.description %></H1>
</Header>
<body>
<%= if(activity.additionalInfo[0].videoURL !== ""){
    <div>    
        <video src="activity.additionalInfo[0].videoURL"></video>
    </div> 

<div class="navFoot">
    <button type="button" class='navButton' id='sendResults'>SAVE & Back to Student Page</button>
    <button type="button" class="navButton" id="backToStudent">Back to Student Page</button>
    <button onclick="window.location.href ='/logout';" class="navButton">Logout</button><!--This needs to triger a fetch and send the exercise results to the server-->
    
</div>

<script type="text/javascript" src="/js/studyWAL.js"></script>
</body>

</body>

