<!-- external CSS link -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css" />	
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
	
</head>
<body class="backgroundColorL">

<div class="flex top">
    <div class="cohortContainer flexColum">
        <h2>Global Admin</h2>   
    </div>   
</div>   
<div>
    <h2>Create New School</h2>
            <div>
                <label for="schoolName" class="primaryLabel">New School Name</label>
                <input type="text" id="schoolName" name="schoolName" required>
            </div>
            <button type="button" id="subNewSchool">Create</button>
</div>
<div>
    <h2>Create PreRegistration Login Credentials</h2>
    <form action="/admin/preReg" method="POST">
        <div>
            
        <label for="email" class="primaryLabel">Email Address</label>
            <input type="text" id="email" name="email" required>
            <label for="password" class="primaryLabel">Create Password</label>
            <input type="text" id="password" name="password" required>
        </div>
        <button type="submit">Create</button>
    </form>
</div>

<h2>Pre Loaded Material and Classes</h2>
    <label class="primaryLabel" for="materialTypeSelector">Select Material Type</label>
    <select name="materialTypeSelector" id="materialType">
        <option value="default">Select Type</option>
        <option value="demo">Demo</option>
        <option value="class">Class</option>
        <option value="activity">Activity</option>
        <option value="library">Library</option>
    </select>
<h2>Create New Cohort</h2>
<form action="/admin/newCohort" method="POST">
    <div>
       
        <label for="cohort" class="primaryLabel">Cohort Name</label>
        <input type="text" id="cohort" name="cohortName"
        required>
         <label for="language" class="primaryLabel">Language</label>
        <input type="text" id="language" name="language"
        required>
        <label for="startDate" class="primaryLabel">Start Date</label>
        <input type="text" id="startDate" name="startDate"
        required>
    </div>    
    <button type="submit">Create</button>
 </form>
 <h2>Add/Remove Cohort Admin Privileges</h2>
    <div class="">
        <label for="cohort" class="primaryLabel">Select the appropriate Cohort then select the GP.</label>   
            <select name="cohort" id="cohortName" required>
                <option value="">Select Cohort</option>
                <% for(let i=0; i < cohorts.length; i++) {%>   
                <option value="<%= cohorts[i].cohortName %>"><%= cohorts[i].cohortName %></option>
                <% } %>
            </select>  
            <select name="student" id="StudentName">
                <option value="">Select GP</option>
            </select>
    </div>    


    <button type="button" id="giveToStudent">Give Admin Privileges</button>
    <button type="button" id="removeFromStudent">Remove Admin Privileges</button>


<!-- Need a way to enter cohort End date, and make it so you can only edit cohorts you created -->

<div class="flexSplit">
    <div class="flex">
        <% if (user.adminLevel > 0){ %>
            <button onclick="window.location.href ='/admin';">Activity Admin</button>
        <% } %>   
        <% if (user.adminLevel > 0){ %>
            <button onclick="window.location.href ='/admin/activityDD';">RR Admin</button>
        <% } %>
        <% if (user.adminLevel > 0){ %>
            <button onclick="window.location.href ='/admin/activityWaL';">WaL Admin</button>
        <% } %>
        <!--  <button onclick="window.location.href = 'admin/activityP';">Phrases Admin</button>   -->
        <% if (user.adminLevel > 1){ %>
        <button onclick="window.location.href='/admin/activityDemo';">Demos</button>
        <% } %>
    </div>
    <div class="navButtons">
        <button onclick="window.location.href ='/student';" class="navButton">GP HOME</button>
        <button onclick="window.location.href ='/logout';" class="navButton">Logout</button>
    </div>
</div>
   
<script type="text/javascript" src="/js/superAdmin.js"></script>
</body>

<!-- cSpell:ignore lexicarry 