
.dictionaryContainer,
.userSelectionContainer,
.customActivityContainer {
  display: grid;
  gap: 5px;
  grid-auto-columns: 8vw;
  grid-template-rows: 8vw 8vw 8vw 8vw;
  grid-auto-flow: column;
  height: 35vw;
  width: auto;
  overflow-x: auto;
  margin-left: 8px;
  margin-right: 8px;
}
.dictionaryContainer > div,
.userSelectionContainer > div,
.customActivityContainer > div {
  background-size: contain;
  width: 8vw;
  height: 8vw; 
}

.fullScreen {
  height: 95vh;
}

#dictionaryHeader {
  align-items: center;
  padding: .5rem;
}

.selectedVocab,
.selectedVocab2, 
.selectedVocab3 {
  opacity: .5;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splitScreen {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.smallContainer {
  width: 45vw;
  border: 2px black solid;
}

h3 {
  margin-bottom: 0;
  margin-top: 1rem;
}

.center {
  align-items: center;
}

.center > button {
  margin-top: 0;
  margin-bottom: 0;
}

.padding {
  padding: 1.2rem;
  padding-bottom: 0;
}

.splitScreen button {
  font-weight: 1.1rem;
  padding: .5rem 1rem;
}