body {
    margin: 15px;
}

form {
    
    padding-top: 20px;
}

div {
    margin: 15px;
}
button{
    margin: 10px;
}
.problem {
    padding-bottom: 15px;
}
.primaryLabel {
    font-size: 2.2rem;
    padding-right: .4em;
}
.secondaryLabel  {
    font-size: 2rem;
    padding-right: .4em;
}

h2 {
    font-size: 2.2rem;
}

.container {
    outline-style: solid;
    outline-width: 2px;
    outline-color: black;
}

.hidden {
    display: none;
}

.uploadInput {
    display: block;
}

.uploadBlock > input {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: large;
}

.uploadBlock > label {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: large;
}

.mainContainer {
    outline-style: solid;
    outline-width: 2px;
    outline-color: black;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1.5rem;
  
}
.gridContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.mainSelector {
    display: flex;
    justify-content: center;
}
.imageContainer {
    height: 210px;
    width: 210px;
    border: 3px solid black;
    margin: 4px;
   
}

img {
    width: 210px;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.previewcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    
}