
.dictionaryContainer,
.userSelectionContainer {
  display: grid;
  gap: 5px;
  grid-auto-columns: auto;
  grid-template-rows: 8vw 8vw 8vw 8vw;
  grid-auto-flow: column;
  height: 35vw;
  width: auto;
  overflow-x: auto;
  margin-left: 8px;
  margin-right: 8px;
}
.dictionaryContainer > div,
.userSelectionContainer > div {
  background-size: contain;
  width: 8vw;
  height: 8vw; 
}

.fullScreen {
  height: 95vh;
}

#dictionaryHeader {
  align-items: center;
  padding: .5rem;
}

.selectedVocab,
.selectedVocab2 {
  opacity: .5;
}