body {
    margin: 15px;
}

form {
    margin: 15px;
    padding-top: 20px;
}

div {
    margin: 15px;
}

.problem {
    padding-bottom: 15px;
}
.primaryLabel {
    font-size: 2.2rem;
    padding-right: .4em;
}
.secondaryLabel  {
    font-size: 2rem;
    padding-right: .4em;
}

h2 {
    font-size: 2.2rem;
}