* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.vocabContainer {
  padding-top: 10px;
  height: 65%;
  width: 99%;
  margin: 0;
}

.vocabContainer > div {
  background-size: contain;
}

.selected {
  height: 15.5vw;
  width: 15.5vw;
  border: 6px solid black;
  margin: 4px;
}

section > div {
  height: 14vw;
  width: 14vw;
  border: 3px solid black;
  margin: 4px;
  display: none
}

.image {
  height: 210px;
}
header {
  display: flex;
  justify-content: center;
}
#title {
  color: white;
  margin-top: 1.2rem;
  margin-bottom: .5rem;
  font-size: 2.2rem; 
  text-shadow: 0px 8px 10px rgb(70, 70, 70);
}
.vocabContainer,
.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(240, 248, 255 / .5);
}

.controlContainer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.vocabContainer  div {
  box-shadow: 5px 5px 15px 0 black;
}

.navFoot {
  display: flex;
  justify-content: end;
  padding-top: 15px;
  padding-right: 20px;
}
.navFoot > a {
  margin-right: 10px;

}

button {
  font: 1.25rem sans-serif;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.75rem 1.25rem;
  margin: 5px 10px 5px 10px;
  background-color: rgb(1.4, 48, 66.7);
  background-image: url("/symbols/frostSS1.jpg");
  background-blend-mode: hard-light;
  background-size: cover;
  color: white;
  box-shadow: 0 5px 10px 0 black;

}

 
.navButton {
    color: black;
    border-color: hsl(213, 60%, 39%);
    background-blend-mode: normal;
}

button[disabled] {
filter: blur(1.5px);
}

.end {
  border: 3px solid hsl(213, 60%, 39%);
  background-color: rgb(203 203 203);
}

.thatsRight {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: spinAndBounce;
}

@keyframes spinAndBounce {
  0% {transform: rotate(0deg);}
 /* 50% {transform: translate(0, -50%) rotate(180deg)}
  99% {transform: translate(0, 0%,) rotate(350deg);}*/
  100% {transform: rotate(360deg);}
}

.coolBackground {
    background-image: linear-gradient(rgb(168, 211, 248), rgb(68, 149, 220), rgb(185, 215, 241));
    border: none;
}

